body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #fff;
	background-image: url("back.png");
	background-size: contain;
	background-position: center;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 50px;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
justify-content: center;
align-items: center;
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

nav li {
margin: 0 20px;
}

nav a {
color: #fff;
text-decoration: none;
}

.hero {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: calc(100vh - 200px);
text-align: center;
}

.hero h2 {
font-size: 48px;
margin-bottom: 20px;
}

.hero p {
font-size: 24px;
margin-bottom: 40px;
}

.button {
display: inline-block;
background-color: #1f1413d8;
color: #fff;
padding: 15px 30px;
border-radius: 30px;
text-decoration: none;
transition: background-color 0.3s ease;
}

.button:hover {
background-color: #362321ee;
color: #fff;
}

.menu h2 {
font-size: 36px;
margin-bottom: 40px;
text-align: center;
}

.menu ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.menu li {
flex-basis: calc(50% - 20px);
margin: 20px;
padding: 20px;
background-color: #422b29dc;
border-radius: 10px;
text-align: center;
}

.menu li h3 {
font-size: 24px;
margin-bottom: 10px;
}

.menu li p {
font-size: 18px;
margin-bottom: 20px;
}

.menu li .price {
font-size: 24px;
font-weight: bold;
}

.about h2 {
font-size: 36px;
margin-bottom: 40px;
text-align: center;
}

.about p {
font-size: 18px;
line-height: 1.5;
margin-bottom: 40px;
}

.contact h2 {
font-size: 36px;
margin-bottom: 40px;
text-align: center;
}

form label {
display: block;
font-size: 18px;
margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: none;
background-color: rgba(255, 255, 255, 0.8);
color: #1F1413;
font-size: 16px;
}

form textarea {
height: 200px;
resize: none;
}

form input[type="submit"] {
display: inline-block;
background-color: #1F1413;
color: #ffffff;
padding: 15px 30px;
border-radius: 30px;
text-decoration: none;
transition: background-color 0.3s ease;
cursor: pointer;
}

form input[type="submit"]:hover {
background-color: #1F1413;
color: #fff;
}